<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteBase /~sawg11/phpmvc/drawgis/
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule (.*) index.php/$1 [NC,L]
</IfModule>
